.cqMainWrap {
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1A2229;
}

.glowBG {
    position: absolute;
    height: 100%;
    scale: 0.7;
}

.contentContainer {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    width: 50%;
    height: 400vh;
    position: sticky;
    
  }
  
.textContainer {
    /* display: flex;
    flex-direction: column; 
    justify-content: center; */
    text-align: left;
    height: 100vh;
    margin-top: 50%;
}

.videoContainer {
    display: flex;
    justify-content: center;
    overflow: hidden; 
    position: sticky; 
    top: 0; 
    width: 50%; 
    height: 100vh; 
}
  
.videoPosition {
    position: absolute; 
    right: 0; 
    left: 0; 
}
  
.video {
    object-fit: contain; 
    width: 100%; 
    height: 100vh; 
    scale: 0.75;
}

.imgPhoneFrame {
    object-fit: contain;
    width: 100%;
    height: 100vh;
    scale: 0.75;
}

.contentTitle {
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
    color: white;
    display: flex;
    width: 75%;
}

.contentDesc {
    font-size: 14px;
    line-height: 16px;
    margin-top: 16px;
    color: White;
    display: flex;
    width: 75%;
}