.containerIntro {
    margin: 135px 50px;
    display: flex;
    gap: 0px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.bigCard {
    border-radius: 28px;
    padding: 50px;
    box-shadow: #76d5d8 0px 5px 25px 0px;
    /* animation: bs-animation 10s ease-in-out infinite;
    border: #ffffff1a solid 1px; */
}

/* @keyframes bs-animation {
    0% {
        box-shadow: #76d5d8 0px 0px 25px 0px;
    }
    50% {
        box-shadow: #76d5d8 0px 0px 10px 0px;
    }
    100% {
        box-shadow: #76d5d8 0px 0px 25px 0px;
    }
  } */

h3 {
    max-width: 550px;
    letter-spacing: -0.02em;
    font-size: 32px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    margin: 0;
}

p {
    max-width: 560px;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    letter-spacing: -0.025em;
    font-weight: 500;
    margin-top: 25px;
    color: white;
}

.rightIntro {
    display: flex;
    flex-wrap: wrap;
    max-width: 678px;
    gap: 18px;
    justify-content: flex-end;

}

.smallCard {
    border-radius: 20px;
    height: 210px;
    width: 300px;
    flex-wrap: wrap-reverse;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(300deg,#ffffff30,#5b4f4f50,#76D5D850,#26222260,#2b282835);
    animation: gradient-animation 10s ease infinite;
    background-size: 400% 400%;
    box-shadow: #00000040 0px 5px 25px 0px;
    border: #ffffff50 solid 1px;
}


@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

h4 {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    max-width: 200px;
    margin: 0;
    display: flex;
}

.cardTop {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

h2 {

    margin: 0;
}

  
  .plusButton {
    border: none /* 1px solid #ffffff10 */;
    border-radius: 0px 19px 19px 0px;
    background: none;
    font-size: 24px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    padding: 4px 20px;
    /* box-shadow: #76d5d8 0px 0px 0px 0px; */
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    background: linear-gradient(90deg, #ffffff30, #76d5d8);
  }
  
  .plusButton:hover {
    color: #1e2429;
    border: none /* 1px solid #76d5d8 */;
    box-shadow: #76d5d8 0px 0px 10px 0px;
    transition: all 0.3s ease-in-out;
    background-color: #76d5d8;
  }

.seafoam {
    background: rgb(48, 168, 188);
    background: linear-gradient(90deg, #ffffff 0%, #76D5D8 100%);
}

.seafoamReverse {
    background: linear-gradient(90deg, #76D5D8 0%, #ffffff 100%);
}

.blue {
    background: rgb(24, 96, 196);
    background: linear-gradient(315deg, rgba(24, 96, 196, 1) 0%, rgba(88, 208, 217, 1) 100%);
}

.purple {
    background: rgb(81, 56, 236);
    background: linear-gradient(45deg, rgba(81, 56, 236, 1) 0%, rgba(181, 97, 249, 1) 100%);
}

.purpleSign {
    background: rgb(197, 104, 251);
    background: linear-gradient(45deg, rgba(197, 104, 251, 1) 0%, rgba(213, 111, 254, 1) 100%);
}

.red {
    background: rgb(200, 69, 145);
    background: linear-gradient(315deg, rgba(200, 69, 145, 1) 0%, rgba(247, 161, 123, 1) 100%);
}

.redSign {
    background: rgb(189, 48, 149);
    background: linear-gradient(315deg, rgba(189, 48, 149, 1) 0%, rgba(200, 68, 145, 1) 100%);
}

.percent {
    align-self: flex-end;
    margin-bottom: 10px;
    font-size: 26px !important;
}

.num {
    font-size: 64px;
    font-family: "Inter", sans-serif;
    letter-spacing: -0.025em;
}

.num,
.sign {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.place {
    margin-top: 18px;
}

.sign {
    font-size: 32px;
    font-family: "Inter", sans-serif;
}