/* Carousel.module.css */
.carousel {
  /* background-color: rgb(255, 255, 255); */
  height: 500vh;
  width: 100vw;
  /* background: 
    radial-gradient(
      farthest-side at bottom left,
      #76D5D8, 
      transparent
    ),
    radial-gradient(
      farthest-corner at bottom right,
      rgba(50, 255, 238, 0.5), 
      transparent 400px
    ); */
    background: linear-gradient(300deg,#354445,#76D5D8,#293139,#485766,#4aa6a6);
  background-size: 300% 300%;
  animation: gradient-animation 10s ease infinite;
  color: white;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.contentContainer {
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.images {
  display: grid;
  grid-template-columns: repeat(12, 25vw); /* 9 columns, each 25% of viewport width */
  grid-template-rows: 1fr;
  grid-gap: 5vw;
  padding: 0 4rem 0 4rem;
}

.imageItem {
  min-width: 25vw;
  height: auto; /* Adjust height */
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  padding: 15px;
}

.imageItem img {
  width: 100%;
  height: 50vh; /*  Adjust image height */
  object-fit: cover;
}

.text {
  margin-top: 0;
  text-align: left;
}

.text h2 {
  font-size: 1.2rem;
  color: #333;
}

.text p {
  font-size: 1rem;
  color: #666;
}

.headerTitle {
  color: white;
  margin: auto 30px;
  font-size: 24px;
  padding: 25px;
}