.vidSliderWrap {
position: relative;
background: #1a2229;
}

.slideContainer {
  display: flex; 
  position: sticky; 
  top: 0; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  transform-origin: top;
}

.slideVideoContainer {
  z-index: 1;
  width: 1280px;
  height: 720px;
  border-radius: 0px;
}

.slideVideo {
  object-fit: cover;
  border-radius: 24px;
}

.slideVideoOverlay {
  position: absolute; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; 
  background: #000000;
  border-radius: 24px;
}

.slideTextContainer {
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
  left: 0;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: white;
  text-align: left;
  background: #1a222990;
  height: fit-content;
  width: 100%;
}

.slideTitle {
  font-size: 32px;
  line-height: 32px;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0px 16px;
  text-align: left;
  
}

.slideParagraph {
  font-size: 14px;
  font-weight: 200;
  line-height: 1.25rem;
  margin: 0;
  max-width: fit-content;
  
}

.screenBuffer {
  height: 100vh; 
background-color: #000000;
}

.glowBG {
  position: fixed;
  height: 100vh;
  right: 0;
  top: -25%;
  will-change: transform;
  scale: 1;
  rotate: 180deg;
}

.fixedHeaderContainer {
  color: #fff;
  z-index: 100;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.fixedHeader {
  margin: 0;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    padding: 24px;
    background: linear-gradient(#1a222990, #1a222990) ;
    border-radius: 0px 0px 16px 16px;
    position: relative;
    backdrop-filter: blur(10px);
}

.fixedHeaderPhase {
  color: #fff;
  font-size: 24px;
  margin: 0;
}

.fixedHeaderSub {
  color: #76d5d8;
  font-size: 72px;
  margin: 0;
}

.fixedHeaderTime {
  color: #fff;
  font-size: 14px;
  padding: 4px;
  border: 1px solid #76d5d8;
  border-radius: 9999px;
  width: 100px;
  margin: auto;
}