.vidSliderWrap {
position: relative;
}

.slideContainer {
  display: flex; 
  position: sticky; 
  top: 0; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  transform-origin: top;
}

.slideVideoContainer {
  z-index: 1;
  width: 1280px;
  height: 720px;
  border-radius: 0px;
}

.slideVideo {
  object-fit: cover;
  border-radius: 24px;
}

.slideVideoOverlay {
  position: absolute; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; 
  background: #000000;
  border-radius: 24px;
}

.slideTextContainer {
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
  left: 0;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
  text-align: left;
  background: #1a2229e5;
  height: fit-content;
  width: 100%;
  gap: 4px;
  padding: 16px;
}

.slideHeaderWrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.slideTitle {
  font-size: 24px;
  line-height: 32px;
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
  
}

.slidePhase {
  margin: 0px 16px;
  color: #76D5D8;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  border: #76D5D8 1px solid;
  border-radius: 9999px;
  width: fit-content;
  text-align: center;
  padding: 4px 8px;
}

.slideParagraph {
  font-size: 16px;
  font-weight: 200;
  line-height: 1.25rem;
  margin: 0;
  max-width: fit-content;
  
}

.screenBuffer {
  height: 100vh; 
background-color: #000000;
}

.glowBG {
  position: fixed;
  height: 100vh;
  right: 0;
  top: -25%;
  will-change: transform;
  scale: 1;
  rotate: 180deg;
}

.fixedHeaderContainer {
  color: #fff;
  z-index: 100;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.fixedHeader {
  margin-top: 24px;
  text-align: center;
  padding: 24px;
  position: relative;
  /* background: linear-gradient(#1a222990, #1a222990) ;
  border-radius: 0px 0px 16px 16px;
  backdrop-filter: blur(10px); */
}

.fixedHeaderPhase {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.fixedHeaderSub {
  color: #76d5d8;
  font-size: 64px;
  font-weight: 200;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.fixedHeaderTime {
  color: #fff;
  font-size: 16px;
  padding: 4px;
  width: 50%;
  margin: auto;
}