.background {
}

.heroSection {
  width: 100%;
  position: relative;
}

.heroBottom {
  --tw-gradient-to: #09090b var(--tw-gradient-to-position);
  --tw-gradient-from: rgba(9, 9, 11, 0) var(--tw-gradient-from-position);
  --tw-gradient-to: rgba(9, 9, 11, 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  height: 24rem;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
}

.backgroundImage {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
}

.parallaxContainer {
  /* padding-top: 200px; */
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50vh;
  margin-bottom: 50vh;
}

.imageOne {
  width: 50%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.imageOne h2 {
  font-size: 56px;
  color: white;
  text-align: center;
}

.imageOne p {
  font-size: 16px;
  color: white;
  text-align: center;
  margin-top: 8px;
}

.imageTwo {
  width: 66.67%;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  vertical-align: middle;
}

.imageThree {
  width: 41.67%;
  margin-left: 6rem;
  max-width: 100%;
  height: auto;
  display: block;
  vertical-align: middle;
}

.buildSchedule {
  padding-top: 12rem;
  padding-bottom: 12rem;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

.buildScheduleHeader {
  --tw-text-opacity: 1;
    color: rgb(250 250 250 / var(--tw-text-opacity));
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-bottom: 5rem;
    margin: 0;
}

.buildScheduleItem {
  padding-bottom: 2.25rem;
  padding-left: .75rem;
  padding-right: .75rem;
  --tw-border-opacity: 1;
    border-color: #fff;
    border-bottom: 1px solid;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-bottom: 2.25rem;
}

.buildScheduleItemTitle {
  --tw-text-opacity: 1;
    color: rgb(250 250 250 / var(--tw-text-opacity));
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: .375rem;
    margin: 0;
}

.buildScheduleItemPara {
  --tw-text-opacity: 1;
    color: rgb(113 113 122 / var(--tw-text-opacity));
    text-transform: uppercase;
    font-size: .875rem;
    line-height: 1.25rem;
    margin: 0;
}

.buildScheduleItemIcon {
  --tw-text-opacity: 1;
    color: rgb(113 113 122 / var(--tw-text-opacity));
    text-transform: uppercase;
    font-size: .875rem;
    line-height: 1.25rem;
    text-align: end;
    gap: .375rem;
    display: flex;
    align-items: center;
}