.scrollContainer {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    -webkit-overflow-scrolling: touch; /* for smoother scrolling on mobile */
  }  
  
.scrollSection {
    scroll-snap-align: start;
    height: calc(100vh + 0px); /* Ensure each section takes up the full viewport height */
  }
  

.targetRefStyle {
    position: absolute; 
    left: 0;
    top: 0; 
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

.sectionHeading {
    text-align: center;
    font-size: 64px;
    text-transform: uppercase;
    font-weight: 200;
    line-height: 1;
    margin: 0;
}

.sectionSubHeading {
    text-align: center;
    font-size: 1.875rem;
    margin-bottom: 1rem;
    line-height: 2.25rem;
}

.contentSectionContainer {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    padding-top: 3rem;
    padding-bottom: 6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 2rem;
    max-width: 64rem;
    display: grid;
    margin-left: auto;
    margin-right: auto;
}

.contentSectionh2 {
    grid-column: span 4 / span 4;
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin: 0;
    color: black;
}

.contentSectionDivvy {
    grid-column: span 8 / span 8;
}

.contentSectionp {
    font-size: 1.5rem;
    line-height: 2rem;
    color: black;
    margin-bottom: 1rem;
    margin-top: 0;
}

.contentSectionButton {
    width: fit-content;
    color: white;
    font-size: 1rem;
    line-height: 1.75rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    background-color: black;
    border-radius: .25rem;
    border: none;
    cursor: pointer;
    margin-top: 0;

}

.parallaxStyling {
    /* height: 150vh; */
    position: relative;
}

.videoContainer {
    background-size: cover;
    background-position: center center;
    height: 100svh;
    width: 100%;
    top: 0px;
    position: relative;
    transform: none;
    object-fit: cover;
}

.sliderMain {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.sliderCardWrap {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    align-self: center;
    padding: 40px;
    }

.sliderCardContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
    overflow: hidden;
}

.sliderCard {
    width: 313px;
height: 548px;
flex-shrink: 0;
border-radius: 16px;
/*background: url(<path-to-image>) lightgray 50% / cover no-repeat;*/

background-color: #ddd;

/* Card Drop Shadow */
box-shadow: 0px 2px 12px 0px var(--app-colors-app-shadow, rgba(0, 0, 0, 0.20));
}