/* Body container styling */
.body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
  height: 100vh;
  width: 100vw;
  background: #1a222900;
  margin: 0;
  position: relative;
}

/* Background gradients */
.backgroundGradients {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  z-index: 0;
  overflow: hidden;
}

.radialGradient1,
.radialGradient2 {
  position: absolute;
  filter: blur(25px);
  z-index: -1;
  width: 100%;
  height: 80%;
  opacity: 50%;
}

.radialGradient1 {
  background: radial-gradient(circle, #76d5d8 0%, rgba(118, 213, 216, 0) 65%);
  bottom: -50%;
  left: 0;
  animation: moveGradient1 20s infinite linear;
}

.radialGradient2 {
  background: radial-gradient(circle, #aa7cff 0%, rgba(170, 124, 255, 0) 65%);
  bottom: -50%;
  right: 0;
  animation: moveGradient2 20s infinite linear;
}

@keyframes moveGradient1 {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(10%) translateY(-10%);
  }
  50% {
    transform: translateX(-5%) translateY(5%);
  }
  75% {
    transform: translateX(15%) translateY(10%);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes moveGradient2 {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(-5%) translateY(15%);
  }
  50% {
    transform: translateX(10%) translateY(-15%);
  }
  75% {
    transform: translateX(-15%) translateY(5%);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

/* Main wrapper for text and buttons */
.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
  z-index: 1;
  margin-bottom: 0;
}

/* Text styling */
.textContainer {
  color: white;
}

.subheading {
  font-size: 24px;
  font-weight: 300;
  margin-top: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Buttons */
button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  border: 1px solid #76d5d8;
  border-radius: 32px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;
  font-size: 1rem;
}

button:hover {
  transform: scale(1.05);
  border-color: transparent;
}

.tealButton {
  color: #76d5d8;
  border: 1px solid #76d5d8;
}

.tealButton:hover {
  background-color: #76d5d8;
  color: rgb(11, 91, 76);
}

.purpleButton {
  color: #aa7cff;
  border: 1px solid #aa7cff;
}

.purpleButton:hover {
  background-color: #aa7cff;
  color: rgb(67, 11, 116);
}

/* EE Container */
.eeContainer {
  position: absolute;
  bottom: 0; 
  left: 50%; 
  transform: translateX(-50%); 
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto; 
  margin-bottom: 0;
}
