@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gradientContainer {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 75vw; 
  height: 75vh; 
  --size: 750px;
  --speed: 50s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
  filter: 
      blur(calc(var(--size) / 5)); 
      
  background-image: linear-gradient(#76d5d8, #76D5D890);
  animation: rotate var(--speed) var(--easing) alternate infinite; 
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%; 
  
  z-index: -1; 
  overflow: hidden; /* Prevent overflow */


}

.body {
  display: flex;
  flex-direction: column; /* Stack main container and video container */
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  overflow: hidden; /* Prevent overflow */
  background: #1A2229;
  background-size: 100% 100%;
  background-position: center;
}

.mainContainer {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  width: 100%; /* Full width */
  height: 50%; /* Leave space for the video container */
  z-index: 1; /* Above the gradient */
}


.textContainer {
  text-align: center;
  color: white;
}

.heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 64px;
  text-transform: uppercase;
}

.subheading {
  font-size: 24px;
  font-weight: 300;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.exploreButton {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.contactButton {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.videoContainer {
  position: absolute; /* Position it absolutely */
  bottom: 0; /* Align to the bottom */
  left: 50; /* Align to the left */
  right: 50; /* Align to the right */
  display: flex;
  width: 75vw;
  height: 50vh;
  justify-content: center; /* Center video within the container */
  padding:  16px 16px 0 16px; /* Horizontal padding */
  border-radius: 16px 16px  0 0;
  background-color: #ffffff; /* Background color */
  overflow: hidden; /* Hide overflow from video corners */
}

.videoFrame {
  position: absolute; /* Position the video absolutely within the container */
  top: 0; /* Align to the top */
  left: 50; /* Align to the left */
  width: 100%; /* Full width of the container */
  height: auto; /* Maintain aspect ratio */
  max-height: none; /* Allow the height to exceed the container */
  object-fit: cover; /* Cover the entire container */
  border-radius: 8px 8px 0 0; /* Rounded corners */
  z-index: 4; /* Ensure the video is on top */
}

.videoFit {
  width: 100%;
}