.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
  }
  
  svg {
    width: 80px;
    height: auto;
    stroke: #76D5D8;
    stroke-width: 2px;
    fill: none;
  }
  