.cardContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}

.card {
    width: 75vw;
    height: 50vh;
    background-color: #293139;
    border: 1px solid #64707d;
    border-radius: 16px;
    padding: 8px;
    top: 0%;
    position: relative;
    display: flex;
    gap: 0px;
  }

.card img {
    display: flex;
    width: 50%;
    border-radius: 8px;
    object-fit: cover;
}

.cardTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 35%;
}

.cardTitle {
    color: #fff;
    width: 100%;
    font-size: 32px;
    text-transform: uppercase;
    margin: 0;
    line-height: 32px;
    letter-spacing: 0;
}

.cardDesc {
    color: #fff;
    width: 100%;
    font-size: 14px;
    margin-top: 16px;
}