.appContainer {
    display: flex;
    flex-direction: column;
  }

  .snapMainContainer {
    scroll-snap-type: y;
    overflow-y: scroll;
    height: 100vh;
    -webkit-overflow-scrolling: touch; /* for smoother scrolling on mobile */
  }  

  .snapCarouselContainer {
    scroll-snap-type: y;
    height: 100vh;
    -webkit-overflow-scrolling: touch; /* for smoother scrolling on mobile */
  }  
  
  .snapSubContainer {
    scroll-snap-align: start; /* Snap to the start of each section */
    height: 100vh; /* Make sure each section takes up the full viewport height */
  }