
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .splineContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 1;
    overflow: hidden; /* Ensure video and image don't overflow */
    background: linear-gradient(200deg,#293139,#0d0e0f,#363b42,#3e4c4c,#000000);
    animation: gradient-animation 20s ease infinite;
    background-size: 250% 250%;
  }
  
  .video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: opacity 1s ease; /* Smooth fade out */
}

.staticImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 1s ease; /* Smooth fade in */
  animation: movement 60s linear infinite;
}

  .fadeIn {
    opacity: 1; /* Fade in the image */
  }
  
  .hidden {
    opacity: 0; /* Fade out the video */
  }
  
 @keyframes movement {
    0% {
        transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
}
  
  .appContainer {
    display: flex;
    flex-direction: column;
    background-color: #1F2429;
    color: white;
  }
  
  .manifestContainer {
    display: flex;
    z-index: 10; /* Ensure Manifest is above the background */
  }

  .customControls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    position: relative;
    z-index: 2; /* Ensure buttons are above the SplineHero */
  }

  .subTextContainer {
    display: flex;
    justify-content: center;
  }

  .subText {
    font-size: 16px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .buttonContainer {
    display: flex;
    gap: 24px;
  }
  
  .customControls button {
    border: 1px solid #76d5d8;
    border-radius: 20px;
    background: none;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    padding: 5px 15px;
    background-color: #1e2429;
    box-shadow: #76d5d8 0px 0px 0px 0px;
    transition: all 0.3s ease-in-out;
  }
  
  .customControls button:hover {
    color: #1e2429;
    border: 1px solid #76d5d8;
    box-shadow: #76d5d8 0px 0px 10px 0px;
    transition: all 0.3s ease-in-out;
    background-color: #76d5d8;
  }
  
