.app-container {
    display: flex;
    flex-direction: column;
  }
  
  .spline-container {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #76D5D8; /* For debugging */
    z-index: 100;
  }
  
  .content-section {
    margin-top: 100vh; /* Leave space for the Spline at the top */
    height: 100%;
    z-index: 100;
    background-color: white;
  }
  
  
  