
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .splineContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 1;
  }
  
  .appContainer {
    display: flex;
    flex-direction: column;
    background-color: #293139;
    /* background: linear-gradient(300deg,#293139,#c6dbf0,#393329,#52bdd2,#293139); */
    color: white;
  }
  
  .manifestContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; /* Ensure Manifest is above the background */
  }
  
  .customControls {
    display: flex;
    flex-direction: row; /* Change from column to row */
    justify-content: center;
    gap: 24px;
    position: absolute;
    bottom: 25%; /* Position buttons near the bottom */
    left: 50%;
    transform: translateX(-50%);
    z-index: 10; /* Ensure buttons are above the SplineHero */
  }
  
  .customControls button {
    border: none;
    background: none;
    font-size: 18px; /* Adjust button font size for a row layout */
    text-transform: uppercase;
    color: white;
    cursor: pointer;
  }
  
  .customControls button:hover {
    color: rgb(107, 236, 225);
  }
  
