.appContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    background: linear-gradient(300deg,#293139,#c6dbf0,#393329,#52bdd2,#293139);
    color: white;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .splineContainer {
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
  }
  
  .contentSection {
   /*  margin-top: 100vh; Leave space for the Spline at the top */
    height: 100%;
    z-index: 3;
    background-color: white;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; /* Ensure overlay is above canvas */
    background-color: #293139;
    opacity: 0; /* Start transparent */
  }

  .customControls {
    display: flex;
    flex-flow: column;
    /* align-items: center; */
    justify-content: center;
    height: 100vh;
    text-align: left;
    gap: 16px;
    cursor: auto;
    position: absolute; /* Position the buttons relative to the splineContainer */
      top: 50%; /* Center vertically */
      left: 25%; /* Center horizontally */
      transform: translate(-50%, -50%); /* Adjust positioning to be truly centered */
      z-index: 10; /* Ensures buttons are layered over SplineHero */
  }

  .customControls button {
    border: none;
    background: none;
    font-size: 48px;
    color: white;
    display: flex;
    cursor: auto;
  }

  .customControls button:hover {
    border: none;
    background: none;
    color: rgb(107, 236, 225);
    cursor: default;
  }
  