
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .splineContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 1;
    overflow: hidden; /* Ensure video and image don't overflow */
    /* background: linear-gradient(200deg,#ffffff,#dedede,#000000,#e7e7e7,#f8feff); */
    animation: gradient-animation 20s ease infinite;
    background-size: 250% 250%;
  }
  
  .video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
  transition: opacity 0.5s ease; /* Smooth fade out */
}

.videoOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(#1A222900, #1A2229);
  z-index: 1;
}

.staticImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0s ease; /* Smooth fade in */
  /* animation: movement 60s linear infinite; */
}

  .fadeIn {
    opacity: 1; /* Fade in the image */
    pointer-events: none;
  }
  
  .hidden {
    opacity: 0; /* Fade out the video */
    pointer-events: none;
  }
  
 @keyframes movement {
    0% {
        transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
}
  
  .appContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: #1F2429;
  }
  
  .manifestContainer {
    display: flex;
    z-index: 10; /* Ensure Manifest is above the background */
  }

  .customControls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    position: relative;
    z-index: 999; /* Ensure buttons are above the SplineHero */
  }

  .subTextContainer {
    display: flex;
    justify-content: center;
  }

  .subText {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    text-align: center;
  }

  .buttonContainer {
    display: flex;
    gap: 24px;
    position: relative;
    cursor: pointer;
  }
  
  .customControls button {
    position: relative;
    border: 1px solid #76d5d8;
    border-radius: 9999px;
    background: none;
    font-size: 12px;
    text-transform: uppercase;
    color: #76d5d8;
    cursor: pointer;
    padding: 5px 15px;
    background-color: transparent;
    box-shadow: #76d5d8 0px 0px 0px 0px;
    transition: all 0.3s ease-in-out;
    width: 100%;
  }
  
  .customControls button:hover {
    color: #1e2429;
    border: 1px solid #76d5d8;
    box-shadow: #76d5d8 0px 0px 10px 0px;
    transition: all 0.3s ease-in-out;
    background-color: #76d5d8;
  }
  
  .Load {
    display: none;
  }

  .btnInfoContainer {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 4px;
    border: #76d5d8 1px solid;
    border-radius: 16px;
    background-color: #1e242990 ;
    padding: 16px 16px;
    transition: all 0.3s ease-in-out;
    width: 50%;
    justify-content: space-between;
  }

  .btnInfoContainer:hover {
    background-color: #76d5d810 ;
    transition: all 0.3s ease-in-out;
  }

  .infoHeader {
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 0;
    margin-top: 0;
  }

  .infoInfo {
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #76d5d8;
  }

  .infoTime {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
  }