.gansterWrapper {
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 20px;
  
}

.pathCardContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.pathCardContainer > div:hover {
  transform: scale(1.05);
  z-index: 1; /* Ensures hovered card appears above others */
}

.pathCardContainer > div:hover {
  transform: scale(1.05); 
}

@media (max-width: 1024px) {
  .pathCardContainer .btnInfoContainer {
    flex: 1 1 calc(33.33% - 20px);
  }
}

@media (max-width: 768px) {
  .pathCardContainer .btnInfoContainer {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .pathCardContainer .btnInfoContainer {
    flex: 1 1 100%;
  }
}
