.container {
    display: flex;
    height: 100vh;
  }
  
  .timeline-container {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: #3E454C;
    height: 100vh;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  
  .timeline {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align to the right of the line */
    /* padding: 20px; */
    margin-left: 25%;
  }
  
  .hotspot-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: calc(100vh / 5);
  }
  
  .hotspot-container.active .hotspot {
    background-color: #ffffff; /* Active background color */
    border: #76d5d8 1px solid;
    transform: scale(1.2);  /* Enlarged size */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .hotspot {
    width: 30px;
    height: 30px;
    background-color: #76d5d8;
    border-radius: 50%;
    border: 1px solid white;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    animation: pulse 2s infinite;
  }
  
  .hotspot:active {
    background-color: #ffffff;
    border: #76d5d8 1px solid;
    transform: scale(1.2); /* Enlarged when selected */
  }

  
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(118, 213, 216, 0.7);
    }
    70% {
      box-shadow: 0 0 20px 20px rgba(118, 213, 216, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(118, 213, 216, 0);
    }
  }
  
  .line {
    width: 5px;
    height: calc(100vh / 4);
    background-color: #76d5d8;
    /* margin-right: 20px; */
  }

  .line-hor {
    border: #76d5d8 2px solid;
    width: 20px;
    margin: auto;
  }
  
  .hotspot-label {
    margin-left: 50px;
    font-size: 24px;
    color: rgb(184, 184, 184);
    white-space: nowrap;
    position: relative;
    display: flex;
    margin-top: 5px;
  }

  .hotspot-container.active .hotspot-label {
    color: rgb(255, 255, 255);
  }
  
  .text-container {
    width: 100%;
    background-color: #fff;
    text-align: center;
    border-top: 2px solid #76d5d8;
    position: absolute;
    bottom: 0;
  }
  
  .text-container p {
    padding: 10px 20px;
    text-align: left;
    font-size: 12px;
  }

  .image-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    position: relative;
    overflow: hidden;
  }
  
  img {
    max-height: 100%;
    object-fit: cover;
  }
  
  