.sectionHeaderContainer {
    color: #fff;
    z-index: 100;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .sectionHeader {
    margin-top: 24px;
    text-align: center;
    padding: 0px;
    position: relative;
    /* background: linear-gradient(#1a222990, #1a222990) ;
    border-radius: 0px 0px 16px 16px;
    backdrop-filter: blur(10px); */
  }
  
  .sectionHeaderTitle {
    color: #76d5d8;
    font-size: 48px;
    font-weight: 200;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .sectionHeaderDescription {
    color: #fff;
    font-size: 16px;
    padding: 4px;
    width: 50%;
    margin: auto;
  }