.mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #1A2229;
    gap: 24px;
  }
  
  
  
  
  
  .title {
    font-size: 83px;
    font-weight: 100;
    background: linear-gradient(300deg, #76D5D8, #defeff, #00eeff, #76D5D8, #426b9b);
    background-size: 360% 360%;
    animation: gradient-animation 10s ease infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    line-height: 75px;
    margin: 0; 
  }
  
  .subtitle {
    font-size: 1.75rem;
    font-weight: 200;
    text-transform: uppercase;
    color: white;
    margin-bottom: 15px;
  }
  
  .description {
    margin: 15px 0;
    font-size: 1rem;
    color: rgba(188, 188, 188, 0.478);
    line-height: 1.5;
  }
 
  .leftContainer {
    flex: 1;
    margin-left: 0; 
    display: flex;
    padding-left: 5%;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start; 
    width: 50%;
  }
  
  .statsContainer {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    justify-content: center; 
    align-items: center; 
  }
  
  .stat {
    display: flex; 
    padding-top: 2rem;
    padding-bottom: 2rem; 
    flex-direction: column; 
    align-items: center; 
    width: 18rem; 

    @media (min-width: 640px) { 
      padding-top: 0;
    padding-bottom: 0; 
 }

  }
  
  .statNumber {
    margin-bottom: 0.5rem; 
    font-size: 24px;
    line-height: 1; 
    font-weight: 600; 
    text-align: center; 
    color: #76D5D8;

    @media (min-width: 640px) { 
      font-size: 48px;
    line-height: 1; 
 }

  }
  
  .statDescription {
    text-align: center; 
    color: #fff;
    text-transform: uppercase;

  }

  .rightContainer {
    position: relative;
    padding-right: 5%;
    width: 50%;
  }

  .cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    height: 100%;
    padding: 72px;
    box-sizing: border-box;
  }
  
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #27333d;
    border: #76D5D8 0.5px solid;
    border-radius: 16px;
    margin: 0;
    color: #fff;
    overflow: hidden;
    transition: filter 0.3s ease;
    padding: 24px;
  }
    
  .cardTitle {
    font-size: 24px;
    font-weight: 200;
    text-transform: uppercase;
    margin: 0;
  }
    
  .cardTitle:hover {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0;
  }
  .cardDescription {
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.415);
  }