.scrollContainer {
  background-color: #fff;
}

.mainContainer {
  background-color: #fff;
  height: 300vh;
  position: relative;
}

.cardContainer {
  overflow: hidden;
  align-items: center;
  height: 100vh;
  display: grid;
  top: 0;
  position: sticky;
  align-content: center;
}

.card {
  gap: 16px;
  display: flex;
}

.cardTypeContainer {
  background-color: #3E454C;
  box-shadow: #3E454C50 0px 2px 15px 0px;
  overflow: hidden;
  width: 300px;
  height: 400px;
  position: relative;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.cardImgContainer {
  width: 100%;
  border-radius: 8px 8px 0px 0px;
  margin-bottom: 16px;
  display: flex;
}

.cardHover {}

.cardTitleContainer {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.cardTitle {
  --tw-backdrop-blur: blur(16px);
  color: #fff;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 24px;
  line-height: 1;
  margin: 0;
}

.headerContainer {
  display: flex;
  margin: 48px;
}

.carouselInfo {
  display: flex;
  flex-direction: column;
}

.carouselHeader {
  font-size: 48px;
  font-weight: 200;
}

.carouselText {
  color: #3E454C;
  margin: 0;
}