.carouselContainer {
  width: 100vw;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 50px 0 0 0;
  background-color: #293139;
}

.carousel {
    display: flex;
    gap: 20px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 50px;
}

    .carouselCard {
      min-width: 300px;
      padding: 20px;
      background-color: #f5f5f5;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      cursor: pointer;
      transition: transform 0.3s ease-in-out;
    }

      .carouselCard:hover {
        transform: scale(1);
        box-shadow: #76d5d8 0px 0px 1px 5px;
        transition: all 0.3s ease-in-out;
      }

      .active {
        border: 0px solid #76d5d8; /* Highlight active card */
        box-shadow: #76d5d8 0px 0px 30px 10px;
        transition: all 0.3s ease-in-out;
      }

      .cardImage {
        width: 100%;
        border-radius: 8px;
        margin-bottom: 16px;
      }

      .cardTitle {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 8px;
      }

      .cardDescription {
        font-size: 16px;
        color: #666;
      }

