.scrollContainer {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    -webkit-overflow-scrolling: touch; /* for smoother scrolling on mobile */
  }  
  
.scrollSection {
    scroll-snap-align: start;
    height: calc(100vh + 0px); /* Ensure each section takes up the full viewport height */
  }
  

.targetRefStyle {
    position: absolute; 
    left: 0;
    top: 0; 
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

.sectionHeading {
    text-align: center;
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1;
}

.sectionSubHeading {
    text-align: center;
    font-size: 1.875rem;
    margin-bottom: 1rem;
    line-height: 2.25rem;
}

.contentSectionContainer {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    padding-top: 3rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 2rem;
    max-width: 64rem;
    display: grid;
    margin-left: auto;
    margin-right: auto;
}

.contentSectionh2 {
    grid-column: span 4 / span 4;
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin: 0;
    color: white;
}

.contentSectionDivvy {
    grid-column: span 8 / span 8;
}

.contentSectionp {
    font-size: 1.5rem;
    line-height: 2rem;
    color: white;
    margin-bottom: 1rem;
    margin-top: 0;
}

.contentSectionButton {
    width: fit-content;
    color: white;
    font-size: 1rem;
    line-height: 1.75rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    background-color: black;
    border-radius: .25rem;
    border: none;
    cursor: pointer;
    margin-top: 0;

}

.parallaxStyling {
    /* height: 150vh; */
    position: relative;
}
