.cardContainer {
  position: absolute;
  top: 10%;
  left: 50%;
  padding: 8px;
  border-radius: 16px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  cursor: pointer;
}

.cardActive {
  z-index: 10;
  background: radial-gradient(at top left, #2f3a45 0%, #1a2229 100%);
  border: 2px solid #76d5d8; /* Ensure border-style and border-color are defined */
  border-radius: 16px;
  box-shadow: 0px 0px 50px #76d5d842; /* Teal glow effect around the border */
}

.cardInactive {
  z-index: 0;
  background-color: #1a2229;
  filter: blur(3px);
  box-shadow: #0b0a161c 0px 0px 40px 0px;
}


.cardImage {
  object-fit: contain;
  object-position: center;
  margin-bottom: 16px;
  height: 56px;
}

.cardHeader {
  font-size: 32px;
  font-weight: 200;
  text-transform: uppercase;
  color: #76d5d8;
  line-height: 1.5rem;
  margin-left: 16px;
}

@media (min-width: 640px) {
  .cardHeader {
    font-size: 32px;
    line-height: 1.75rem;
  }
}

.cardHeaderActive {
  color: #76d5d8;
}

.cardDesc {
  position: absolute;
  margin-left: 16px;
  margin-right: 32px;
  margin-top: 8px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #8e8e8e;
}
