.scrollContainer {
  background-color: #fff;
  background: linear-gradient(#1A2229, #fff);
  background-size: 100% 100%;
  background-position: center;
}

.bgGradient {
  background: radial-gradient(#1A2229, #fff);
  background-size: 200% 200%;
  background-position: center;
}

.mainContainer {
  height: 300vh;
  position: relative;
}

.cardContainer {
  overflow: hidden;
  align-items: center;
  height: 100vh;
  display: grid;
  top: 0;
  position: sticky;
  align-content: center;
}

.card {
  gap: 16px;
  display: flex;
}

.cardTypeContainer {
  background: radial-gradient(at top left, #fff 0%, #76D5D870 100%);
  background-size: 100% 100%;
  box-shadow: #3E454C50 0px 2px 15px 0px;
  overflow: hidden;
  width: 300px;
  /* height: 400px; */
  position: relative;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardImgContainer {
  width: 48px;
  height: 48px;
  padding: 16px;
  border-radius: 8px 8px 0px 0px;
  margin-bottom: 16px;
  display: flex;
}

/* .cardHover {} */

.cardTitleContainer {
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.cardTitle {
  --tw-backdrop-blur: blur(16px);
  color: #1A2229;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 24px;
  line-height: 1;
  margin: 0;
}

.cardDesc {
  display: flex;
  flex-direction: column;
  color: #1A2229;
  font-size: 14px;
}

.headerContainer {
  display: flex;
  margin: 48px;
}



.carouselHeader {
  font-size: 48px;
  font-weight: 200;
  margin-bottom: 16px;
  line-height: 48px;
  letter-spacing: 1px;
  color: #fff;
  text-align: left;
}

.carouselText {
  color: #fff;
  margin: auto;
  width: 100%;
  text-align: left;
  width: 50vw;
}