body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #fff;
}

body::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin: 0;
}
