.progressContainer {
  position: fixed;
  top: 0;
  right: 0;
  width: 20px;
  height: 100%;
  z-index: 1000;
}

.hamburgerContainer {
  position: fixed;
  top: 20px;
  right: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  z-index: 1100;
}

.hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: tomato;
  border-radius: 4px;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: white;
}

.progressBarBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(41, 174, 191, 0.05); /* Light teal background with transparency */
}

.progressBar {
  position: absolute;
  top: 0; /* Start filling from the bottom */
  width: 100%;
  background: linear-gradient(to bottom, #00b7ff 1%, #76D5D8, #76d5d800 );
  height: 0%; /* Initial height (progress is applied dynamically) */
  transition: height 0.3s ease-in-out; /* Smooth transition for progress changes */
}


.navItems {
  position: absolute;
  top: 80px;
  right: 60px;
  list-style: none;
  color: white; /* Default color for list items */
  margin: 0;
  padding: 0;
  z-index: 1200;
}

.navItems a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent (.navItems or .navItem) */
  font-family: "Montserrat", sans-serif; /* Ensure consistent typography */
  font-size: 14px;
  transition: color 0.3s ease;
}

.navItems a:hover {
  color: #3dccc8; /* Change color on hover to a teal shade */
}

.navItems li {
  margin-bottom: 10px; /* Add spacing between items */
}


.navItem {
  margin-bottom: 10px;
  color: white;
  cursor: pointer;
}

.activeItem {
  font-weight: bold;
  color: #3dccc8;
}
