body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  z-index: 5000000;
}

.progressContainer {
  position: fixed;
  right: 0px;
  width: 400px;
  height: 90vh;
  border: 5px solid tomato;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 5000000;
}

.progressBarBackground {
  position: absolute;
  top: 0;
  right: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
}

.progressBar {
  position: absolute;
  top: 0;
  right: 0px;
  width: 2px;
  height: 100%;
  background: #76d5d8;
  transition: top 0.3s ease, height 0.3s ease;
}

.hamburgerContainer {
  position: absolute;
  top: 20px;
  right: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  opacity: 15%;
}

.title {
  position: absolute;
  top: 70px;
  right: 30px;
  padding-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-decoration: uppercase;
  color: #76d5d8;
}

.navItemsContainer {
  position: relative;
  right: 0px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.navItems {
  position: absolute;
  top: 80px;
  right: 26px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: calc(100% - 80px);
}

.navItems a {
  text-decoration: none;
  color: inherit;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  transition: color 0.3s ease;
}

.navItems a:hover {
  color: #76d5d8;
}

.navItems li {
  margin-bottom: 8px;
  position: relative;
  right: 0px;
}

.activeItem {
  font-weight: bold;
  color: #76d5d8;
}

.activeItem::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -32px;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background: #232323;
  border: 2px solid #76d5d8;
  border-radius: 50%;
}
