.background {
  /* background-color: #1A2229; */
}

.buildSchedule {
  padding-top: 12rem;
  padding-bottom: 12rem;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.buildScheduleHeader {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    margin: 0;
    margin-bottom: 60px;
}

.buildScheduleHeaderEnd {
  color: #76D5D8;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 80px;
  text-align: center;
}

.buildScheduleItem {
    height: 60px;
    padding: 32px 24px;
    border: 1px solid #76D5D830;
    border-radius: 24px;
    /* background: radial-gradient(farthest-corner at 100px 200px, #76d5d850 0%, #1A2229 100%); */
    background: linear-gradient(-12deg, #76d5d850 15%, #1A2229 70%);
    box-shadow: #76D5D890 0px 50px 100px 0px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.buildScheduleInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.buildScheduleItemTitle {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: 6px;
    margin: 0;
    display: flex;
    min-width: 50%;
}

.buildScheduleItemPara {
    color: #1A2229;
    font-size: 10px;
    line-height: 20px;
    margin: 0;
    width: fit-content;
    background-color: #cef2f3;
    border-radius: 4px;
    padding: 2px 8px;
    display: flex;
}

.buildScheduleItemIcon {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    margin-top: 16px;
    gap: 6px;
    display: flex;
    align-items: center;
    text-align: left;
    
}

.buildScheduleItemLast {
    height: 60px;
    padding: 32px 24px;
    /* background-color: #cef2f3; */
    background: linear-gradient(180deg, #fff 15%, #76d5d8 70%);
    border: #fff 1px solid;
    border-radius: 24px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-top: 4px;
}

.buildScheduleItemTitleLast {
    min-width: 50%;
    color: #1A2229;
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
    margin-bottom: 6px;
    margin: 0;
}

.buildScheduleItemParaLast {
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 20px;
    margin: 0;
    width: fit-content;
    background-color: #1A2229;
    border-radius: 4px;
    padding: 2px 8px;
}

.buildScheduleItemIconLast {
    color: #1A2229;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    margin-top: 16px;
    gap: 6px;
    display: flex;
    align-items: center;
    text-align: left;
}