.timelineWrap {
  background-color: #293139;
  padding: 40px;
}

/* Box container with border and spacing */
.boxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
  max-width: 90vw; /* Gives some space from the viewport edges */
  margin: 40px auto; /* Centers the container on the screen */
  border: 1px solid rgb(107, 236, 225);
  border-radius: 40px;
  box-shadow: 0px 4px 8px rgba(107, 236, 225, 0.5);
  background: #000000;
  color: #ffffff;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.timelineContainer {
  display: flex;
  width: 100%;
  height: 80vh; /* Adjust the height as needed */
}

/* Left-side styles */
.leftContainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  justify-content: space-evenly;
}

.timelineItem {
  display: flex;
  align-items: center;
  cursor: default;
  padding: 10px 0px 10px 50px;

    h3 {
      font-size: 24px;
      margin: 0;
      color: white;
      transform-origin: left;
      transition: all 0.5s ease-in-out;
    }
  
    &.active {
      h3 {
        background: linear-gradient(300deg, #76d5d8, #dfe5e5, #fe7e66, #76d5d8, #fe7e66);
        background-size: 360% 360%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: gradient-animation 30s ease infinite;
        transform: scale(1.1);
        transform-origin: left;
        transition: all 0.5s ease-in-out;
      }
  
      .dot {
        background-color: #fe7e66;
        transform: scale(1.3);
      }
    }
  
    &:hover h3 {
      background: linear-gradient(300deg, #76d5d8, #defeff, #fe7e66, #76d5d8, #fe7e66);
        background-size: 360% 360%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: gradient-animation 30s ease infinite;
    }
    
    &:not(:hover) {
      transform: scale(1);
        transform-origin: left;
        transition: all 0.5s ease-in-out;
    }
  }
  

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}


.dot {
  width: 10px;
  height: 10px;
  bottom: 10px;
  background-color: #76d5d8;
  border-radius: 50%;
  margin-right: 15px;
  position: relative;
}

.content {
  h3 {
    margin: 0;
    font-size: 24px;
  }

  p {
    margin: 5px 0;
    font-size: 14px;
  }
}

.paragraphText {
  overflow: hidden;
  p {
    font-size: 1rem;
    margin-top: 10px;
  }
}

/* Right-side styles */
.rightContainer {
  width: 60%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  width: 100%;
  height: 100%;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px 40px 40px 0px;
  }

  .overlayText {
    position: absolute;
    bottom: 0%;
    /* left: 5%; */
    color: white;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.7);
    padding: 20px;

    h2 {
      font-size: 3rem;
      margin: 0;
    }

    p {
      font-size: 1.2rem;
    }
  }
}

/* Hover effect on the dots */
.timelineItem:hover .dot {
  background-color: #fe7e66;
  transform: scale(1.3);
  transition: all 0.5s ease-in-out;
  transform-origin: center;
}

.timelineItem:not(:hover) .dot {
  transform: scale(1);
    transform-origin: center;
    transition: all 0.5s ease-in-out;
}

.targetRefStyle {
  position: absolute; 
  left: 0;
  top: 0; 
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
}
